In [1]:
print("hello")

hello

In [1]:
from langchain_community.utilities import SQLDatabase
from langchain_community.llms import Ollama
from langchain_community.agent_toolkits import SQLDatabaseToolkit
from langchain.agents import create_sql_agent
from langchain.agents.agent_types import AgentType
from langchain_core.prompts import PromptTemplate
from langchain_core.output_parsers import StrOutputParser
from langchain.chains import LLMChain
import os

In [ ]:
def setup_sql_agent(db_file: str):
    db_uri=f"sqlite:///{db_file}"
    db=SQLDatabase.from_uri(db_uri)
    
    llm = Ollama(
        model="mistral:latest",
        temperature=0.1
    )
    toolkit=SQLDatabaseToolkit(db=db,llm=llm)
    agent=create_sql_agent(
        llm=llm,
        toolkit=toolkit,
        agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
        verbose=True
    )
    
    explanation_prompt=PromptTemplate(
        input_variables=["query","results"],
        template="""Given this SQL query :
        {query}
        and these resuts:
        {result}
        provide a clear, concise explanation of what these result mean in natural language.
        focus on the key insights and pattern in the data.
        """
    )
    
    explanation_chain=LLMChain(
        llm=llm,
        prompt=explanation_prompt,
        output_parser=StrOutputParser()
    )
    
    # return llm,db,toolkit,agent,explanation_chain
    return agent,db

def query_database(agent,question):
    
    try:
        result=agent.run(question)
        return result
    except Exception as e:
        return f"Error occured: {str(e)}"
    

def get_db_schema(db):
    return db.get_table_info()



if __name__ =="__main__":
    
    agent, db = setup_sql_agent("chinook.db")
    

    print("Database Schema:")
    print(get_db_schema(db))
    
    # Example questions you can ask about the chinook database
    questions = [
        "How many employees are there?",
        "What is the most popular music genre by number of tracks?",
        "Find the most expensive track in the database",
        "Show the number of tracks available in each genre",
        "List all the albums by artists with the word ‘black’ in their name",
        " Find the name and length (in seconds) of all tracks that have lengthbetween 50 and 70 seconds."
    ]
    
    #Run example questions
    for question in questions:
        print(f"\nQuestion: {question}")
        print("Answer:", query_database(agent, question))

C:\Users\NIAZ\AppData\Local\Temp\ipykernel_8736\2634115220.py:5: LangChainDeprecationWarning: The class `Ollama` was deprecated in LangChain 0.3.1 and will be removed in 1.0.0. An updated version of the class exists in the :class:`~langchain-ollama package and should be used instead. To use it run `pip install -U :class:`~langchain-ollama` and import as `from :class:`~langchain_ollama import OllamaLLM``.
  llm = Ollama(
C:\Users\NIAZ\AppData\Local\Temp\ipykernel_8736\2634115220.py:28: LangChainDeprecationWarning: The class `LLMChain` was deprecated in LangChain 0.1.17 and will be removed in 1.0. Use :meth:`~RunnableSequence, e.g., `prompt | llm`` instead.
  explanation_chain=LLMChain(
C:\Users\NIAZ\AppData\Local\Temp\ipykernel_8736\2634115220.py:40: LangChainDeprecationWarning: The method `Chain.run` was deprecated in langchain 0.1.0 and will be removed in 1.0. Use :meth:`~invoke` instead.
  result=agent.run(question)

Database Schema:

CREATE TABLE albums (
	"AlbumId" INTEGER NOT NULL,
	"Title" NVARCHAR(160) NOT NULL,
	"ArtistId" INTEGER NOT NULL,
	PRIMARY KEY ("AlbumId"),
	FOREIGN KEY("ArtistId") REFERENCES artists ("ArtistId")
)

/*
3 rows from albums table:
AlbumId	Title	ArtistId
1	For Those About To Rock We Salute You	1
2	Balls to the Wall	2
3	Restless and Wild	2
*/


CREATE TABLE artists (
	"ArtistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("ArtistId")
)

/*
3 rows from artists table:
ArtistId	Name
1	AC/DC
2	Accept
3	Aerosmith
*/


CREATE TABLE customers (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	"SupportRepId" INTEGER,
	PRIMARY KEY ("CustomerId"),
	FOREIGN KEY("SupportRepId") REFERENCES employees ("EmployeeId")
)

/*
3 rows from customers table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/


CREATE TABLE employees (
	"EmployeeId" INTEGER NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"FirstName" NVARCHAR(20) NOT NULL,
	"Title" NVARCHAR(30),
	"ReportsTo" INTEGER,
	"BirthDate" DATETIME,
	"HireDate" DATETIME,
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60),
	PRIMARY KEY ("EmployeeId"),
	FOREIGN KEY("ReportsTo") REFERENCES employees ("EmployeeId")
)

/*
3 rows from employees table:
EmployeeId	LastName	FirstName	Title	ReportsTo	BirthDate	HireDate	Address	City	State	Country	PostalCode	Phone	Fax	Email
1	Adams	Andrew	General Manager	None	1962-02-18 00:00:00	2002-08-14 00:00:00	11120 Jasper Ave NW	Edmonton	AB	Canada	T5K 2N1	+1 (780) 428-9482	+1 (780) 428-3457	andrew@chinookcorp.com
2	Edwards	Nancy	Sales Manager	1	1958-12-08 00:00:00	2002-05-01 00:00:00	825 8 Ave SW	Calgary	AB	Canada	T2P 2T3	+1 (403) 262-3443	+1 (403) 262-3322	nancy@chinookcorp.com
3	Peacock	Jane	Sales Support Agent	2	1973-08-29 00:00:00	2002-04-01 00:00:00	1111 6 Ave SW	Calgary	AB	Canada	T2P 5M5	+1 (403) 262-3443	+1 (403) 262-6712	jane@chinookcorp.com
*/


CREATE TABLE genres (
	"GenreId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("GenreId")
)

/*
3 rows from genres table:
GenreId	Name
1	Rock
2	Jazz
3	Metal
*/


CREATE TABLE invoice_items (
	"InvoiceLineId" INTEGER NOT NULL,
	"InvoiceId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	"Quantity" INTEGER NOT NULL,
	PRIMARY KEY ("InvoiceLineId"),
	FOREIGN KEY("TrackId") REFERENCES tracks ("TrackId"),
	FOREIGN KEY("InvoiceId") REFERENCES invoices ("InvoiceId")
)

/*
3 rows from invoice_items table:
InvoiceLineId	InvoiceId	TrackId	UnitPrice	Quantity
1	1	2	0.99	1
2	1	4	0.99	1
3	2	6	0.99	1
*/


CREATE TABLE invoices (
	"InvoiceId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"InvoiceDate" DATETIME NOT NULL,
	"BillingAddress" NVARCHAR(70),
	"BillingCity" NVARCHAR(40),
	"BillingState" NVARCHAR(40),
	"BillingCountry" NVARCHAR(40),
	"BillingPostalCode" NVARCHAR(10),
	"Total" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("InvoiceId"),
	FOREIGN KEY("CustomerId") REFERENCES customers ("CustomerId")
)

/*
3 rows from invoices table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2009-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2009-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
3	8	2009-01-03 00:00:00	Grétrystraat 63	Brussels	None	Belgium	1000	5.94
*/


CREATE TABLE media_types (
	"MediaTypeId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("MediaTypeId")
)

/*
3 rows from media_types table:
MediaTypeId	Name
1	MPEG audio file
2	Protected AAC audio file
3	Protected MPEG-4 video file
*/


CREATE TABLE playlist_track (
	"PlaylistId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	PRIMARY KEY ("PlaylistId", "TrackId"),
	FOREIGN KEY("TrackId") REFERENCES tracks ("TrackId"),
	FOREIGN KEY("PlaylistId") REFERENCES playlists ("PlaylistId")
)

/*
3 rows from playlist_track table:
PlaylistId	TrackId
1	3402
1	3389
1	3390
*/


CREATE TABLE playlists (
	"PlaylistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("PlaylistId")
)

/*
3 rows from playlists table:
PlaylistId	Name
1	Music
2	Movies
3	TV Shows
*/


CREATE TABLE tracks (
	"TrackId" INTEGER NOT NULL,
	"Name" NVARCHAR(200) NOT NULL,
	"AlbumId" INTEGER,
	"MediaTypeId" INTEGER NOT NULL,
	"GenreId" INTEGER,
	"Composer" NVARCHAR(220),
	"Milliseconds" INTEGER NOT NULL,
	"Bytes" INTEGER,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("TrackId"),
	FOREIGN KEY("MediaTypeId") REFERENCES media_types ("MediaTypeId"),
	FOREIGN KEY("GenreId") REFERENCES genres ("GenreId"),
	FOREIGN KEY("AlbumId") REFERENCES albums ("AlbumId")
)

/*
3 rows from tracks table:
TrackId	Name	AlbumId	MediaTypeId	GenreId	Composer	Milliseconds	Bytes	UnitPrice
1	For Those About To Rock (We Salute You)	1	1	1	Angus Young, Malcolm Young, Brian Johnson	343719	11170334	0.99
2	Balls to the Wall	2	2	1	None	342562	5510424	0.99
3	Fast As a Shark	3	2	1	F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman	230619	3990994	0.99
*/

Question: List all the albums by artists with the word ‘black’ in their name


> Entering new SQL Agent Executor chain...
 Action: sql_db_list_tables
Action Input: ""albums, artists, customers, employees, genres, invoice_items, invoices, media_types, playlist_track, playlists, tracks I should now check the schema of the 'artists' and 'albums' tables to see if they contain relevant columns for my query.
Action: sql_db_schema
Action Input: "artists, albums"
CREATE TABLE albums (
	"AlbumId" INTEGER NOT NULL,
	"Title" NVARCHAR(160) NOT NULL,
	"ArtistId" INTEGER NOT NULL,
	PRIMARY KEY ("AlbumId"),
	FOREIGN KEY("ArtistId") REFERENCES artists ("ArtistId")
)

/*
3 rows from albums table:
AlbumId	Title	ArtistId
1	For Those About To Rock We Salute You	1
2	Balls to the Wall	2
3	Restless and Wild	2
*/


CREATE TABLE artists (
	"ArtistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("ArtistId")
)

/*
3 rows from artists table:
ArtistId	Name
1	AC/DC
2	Accept
3	Aerosmith
*/ I should now construct a SQL query to find the albums by artists with the word 'black' in their name. This would involve joining the 'artists' and 'albums' tables on the 'ArtistId' column, and filtering the results based on the artist name containing 'black'.

Action: sql_db_query_checker
Action Input: "SELECT albums.Title FROM albums INNER JOIN artists ON albums.ArtistId = artists.ArtistId WHERE artists.Name LIKE '%black%'" The given SQL query seems to be correctly written, considering the points you've mentioned. Here it is for reference:

```sql
SELECT albums.Title FROM albums
INNER JOIN artists ON albums.ArtistId = artists.ArtistId
WHERE artists.Name LIKE '%black%'
```

There are no common mistakes in this query, such as using NOT IN with NULL values, UNION when UNION ALL should have been used, BETWEEN for exclusive ranges, data type mismatch in predicates, improper quoting of identifiers, using the wrong number of arguments for functions, casting to the incorrect data type, or using the wrong columns for joins.

However, it's essential to ensure that the table names (albums and artists) are correctly defined and exist in your database before running this query. Also, make sure that the 'Name' column exists in the 'artists' table and is of a type that can handle the LIKE operator. I should now execute the SQL query to find the albums by artists with the word 'black' in their name.

Action: sql_db_query
Action Input: "SELECT albums.Title FROM albums INNER JOIN artists ON albums.ArtistId = artists.ArtistId WHERE artists.Name LIKE '%black%'"[('Alcohol Fueled Brewtality Live! [Disc 1]',), ('Alcohol Fueled Brewtality Live! [Disc 2]',), ('Black Sabbath',), ('Black Sabbath Vol. 4 (Remaster)',), ('Live [Disc 1]',), ('Live [Disc 2]',)] I now know the final answer
Final Answer: The albums by artists with the word ‘black’ in their name are 'Alcohol Fueled Brewtality Live! [Disc 1]', 'Alcohol Fueled Brewtality Live! [Disc 2]', 'Black Sabbath', 'Black Sabbath Vol. 4 (Remaster)', 'Live [Disc 1]', and 'Live [Disc 2]'.

> Finished chain.
Answer: The albums by artists with the word ‘black’ in their name are 'Alcohol Fueled Brewtality Live! [Disc 1]', 'Alcohol Fueled Brewtality Live! [Disc 2]', 'Black Sabbath', 'Black Sabbath Vol. 4 (Remaster)', 'Live [Disc 1]', and 'Live [Disc 2]'.

Question:  Find the name and length (in seconds) of all tracks that have lengthbetween 50 and 70 seconds.


> Entering new SQL Agent Executor chain...
 Action: sql_db_list_tables
Action Input: ""albums, artists, customers, employees, genres, invoice_items, invoices, media_types, playlist_track, playlists, tracks I should now check the schema of the 'tracks' table to see if it contains the required columns.
Action: sql_db_schema
Action Input: "tracks"
CREATE TABLE tracks (
	"TrackId" INTEGER NOT NULL,
	"Name" NVARCHAR(200) NOT NULL,
	"AlbumId" INTEGER,
	"MediaTypeId" INTEGER NOT NULL,
	"GenreId" INTEGER,
	"Composer" NVARCHAR(220),
	"Milliseconds" INTEGER NOT NULL,
	"Bytes" INTEGER,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("TrackId"),
	FOREIGN KEY("MediaTypeId") REFERENCES media_types ("MediaTypeId"),
	FOREIGN KEY("GenreId") REFERENCES genres ("GenreId"),
	FOREIGN KEY("AlbumId") REFERENCES albums ("AlbumId")
)

/*
3 rows from tracks table:
TrackId	Name	AlbumId	MediaTypeId	GenreId	Composer	Milliseconds	Bytes	UnitPrice
1	For Those About To Rock (We Salute You)	1	1	1	Angus Young, Malcolm Young, Brian Johnson	343719	11170334	0.99
2	Balls to the Wall	2	2	1	None	342562	5510424	0.99
3	Fast As a Shark	3	2	1	F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman	230619	3990994	0.99
*/ Now I know that the 'tracks' table contains a column named 'Milliseconds', which represents the length of each track in seconds. I can use this column to filter tracks with lengths between 50 and 70 seconds.

Action: sql_db_query
Action Input: "SELECT Name, Milliseconds FROM tracks WHERE Milliseconds BETWEEN 50000 AND 70000"[('Intro', 52218), ('Wasted Reprise', 53733), ('Arc', 65593), ('Soldier Side - Intro', 63764), ('Polícia (Vinheta)', 56111), ('Happy Trails', 65488), ('Cotidiano N 2', 55902), ('Salutations', 69120), ('Lamentations of Jeremiah, First Set \\ Incipit Lamentatio', 69194), ('Étude 1, In C Major - Preludio (Presto) - Liszt', 51780), ("L'orfeo, Act 3, Sinfonia (Orchestra)", 66639)] I now know the final answer.
Final Answer: The tracks with lengths between 50 and 70 seconds are 'Intro', 'Wasted Reprise', 'Arc', 'Soldier Side - Intro', 'Polícia (Vinheta)', 'Happy Trails', 'Cotidiano N 2', 'Salutations', 'Lamentations of Jeremiah, First Set \\ Incipit Lamentatio', and ('Étude 1, In C Major - Preludio (Presto) - Liszt').

> Finished chain.
Answer: The tracks with lengths between 50 and 70 seconds are 'Intro', 'Wasted Reprise', 'Arc', 'Soldier Side - Intro', 'Polícia (Vinheta)', 'Happy Trails', 'Cotidiano N 2', 'Salutations', 'Lamentations of Jeremiah, First Set \\ Incipit Lamentatio', and ('Étude 1, In C Major - Preludio (Presto) - Liszt').

In [ ]:
# select count(i.invoiceid), sum(i.total)
# from invoice as i
# where i.invoicedate between datetime('2011-01-01 00:00:00') and datetime('2011-12-31 00:00:00');

In [ ]:
# select *, max(total) from
# (select e.*, sum(total) as 'Total'
# from employee as e
# 	join customer as c on e.employeeid = c.supportrepid
# 	join invoice as i on i.customerid = c.customerid
# where i.invoicedate between '2010-01-00' and '2010-12-31'
# group by e.employeeid)