In [1]:
print("hello")

hello

In [1]:
from langchain_community.utilities import SQLDatabase
from langchain_community.llms import Ollama
from langchain_community.agent_toolkits import SQLDatabaseToolkit
from langchain.agents import create_sql_agent
from langchain.agents.agent_types import AgentType
from langchain_core.prompts import PromptTemplate
from langchain_core.output_parsers import StrOutputParser
from langchain.chains import LLMChain
import os

In [2]:
def setup_sql_agent(db_file: str):
    db_uri=f"sqlite:///{db_file}"
    db=SQLDatabase.from_uri(db_uri)
    
    llm = Ollama(
        model="mistral:latest",
        temperature=0.1
    )
    toolkit=SQLDatabaseToolkit(db=db,llm=llm)
    agent=create_sql_agent(
        llm=llm,
        toolkit=toolkit,
        agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
        verbose=True
    )
    
    explanation_prompt=PromptTemplate(
        input_variables=["query","results"],
        template="""Given this SQL query :
        {query}
        and these resuts:
        {result}
        provide a clear, concise explanation of what these result mean in natural language.
        focus on the key insights and pattern in the data.
        """
    )
    
    explanation_chain=LLMChain(
        llm=llm,
        prompt=explanation_prompt,
        output_parser=StrOutputParser()
    )
    
    # return llm,db,toolkit,agent,explanation_chain
    return agent,db

def query_database(agent,question):
    
    try:
        result=agent.run(question)
        return result
    except Exception as e:
        return f"Error occured: {str(e)}"
    

def get_db_schema(db):
    return db.get_table_info()



if __name__ =="__main__":
    
    agent, db = setup_sql_agent("chinook.db")
    

    print("Database Schema:")
    print(get_db_schema(db))
    
    # Example questions you can ask about the chinook database
    questions = [
        "Find the most expensive track in the database",
        "Show the number of tracks available in each genre"
    ]
    
    #Run example questions
    for question in questions:
        print(f"\nQuestion: {question}")
        print("Answer:", query_database(agent, question))
    
    # question="How many employees are there?"
    # print(f"\nQuestion: {question}")
    # print("Answer:", query_database(agent, question))

C:\Users\NIAZ\AppData\Local\Temp\ipykernel_13196\3435108495.py:5: LangChainDeprecationWarning: The class `Ollama` was deprecated in LangChain 0.3.1 and will be removed in 1.0.0. An updated version of the class exists in the :class:`~langchain-ollama package and should be used instead. To use it run `pip install -U :class:`~langchain-ollama` and import as `from :class:`~langchain_ollama import OllamaLLM``.
  llm = Ollama(
C:\Users\NIAZ\AppData\Local\Temp\ipykernel_13196\3435108495.py:28: LangChainDeprecationWarning: The class `LLMChain` was deprecated in LangChain 0.1.17 and will be removed in 1.0. Use :meth:`~RunnableSequence, e.g., `prompt | llm`` instead.
  explanation_chain=LLMChain(
C:\Users\NIAZ\AppData\Local\Temp\ipykernel_13196\3435108495.py:40: LangChainDeprecationWarning: The method `Chain.run` was deprecated in langchain 0.1.0 and will be removed in 1.0. Use :meth:`~invoke` instead.
  result=agent.run(question)

Database Schema:

CREATE TABLE albums (
	"AlbumId" INTEGER NOT NULL,
	"Title" NVARCHAR(160) NOT NULL,
	"ArtistId" INTEGER NOT NULL,
	PRIMARY KEY ("AlbumId"),
	FOREIGN KEY("ArtistId") REFERENCES artists ("ArtistId")
)

/*
3 rows from albums table:
AlbumId	Title	ArtistId
1	For Those About To Rock We Salute You	1
2	Balls to the Wall	2
3	Restless and Wild	2
*/


CREATE TABLE artists (
	"ArtistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("ArtistId")
)

/*
3 rows from artists table:
ArtistId	Name
1	AC/DC
2	Accept
3	Aerosmith
*/


CREATE TABLE customers (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	"SupportRepId" INTEGER,
	PRIMARY KEY ("CustomerId"),
	FOREIGN KEY("SupportRepId") REFERENCES employees ("EmployeeId")
)

/*
3 rows from customers table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/


CREATE TABLE employees (
	"EmployeeId" INTEGER NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"FirstName" NVARCHAR(20) NOT NULL,
	"Title" NVARCHAR(30),
	"ReportsTo" INTEGER,
	"BirthDate" DATETIME,
	"HireDate" DATETIME,
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60),
	PRIMARY KEY ("EmployeeId"),
	FOREIGN KEY("ReportsTo") REFERENCES employees ("EmployeeId")
)

/*
3 rows from employees table:
EmployeeId	LastName	FirstName	Title	ReportsTo	BirthDate	HireDate	Address	City	State	Country	PostalCode	Phone	Fax	Email
1	Adams	Andrew	General Manager	None	1962-02-18 00:00:00	2002-08-14 00:00:00	11120 Jasper Ave NW	Edmonton	AB	Canada	T5K 2N1	+1 (780) 428-9482	+1 (780) 428-3457	andrew@chinookcorp.com
2	Edwards	Nancy	Sales Manager	1	1958-12-08 00:00:00	2002-05-01 00:00:00	825 8 Ave SW	Calgary	AB	Canada	T2P 2T3	+1 (403) 262-3443	+1 (403) 262-3322	nancy@chinookcorp.com
3	Peacock	Jane	Sales Support Agent	2	1973-08-29 00:00:00	2002-04-01 00:00:00	1111 6 Ave SW	Calgary	AB	Canada	T2P 5M5	+1 (403) 262-3443	+1 (403) 262-6712	jane@chinookcorp.com
*/


CREATE TABLE genres (
	"GenreId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("GenreId")
)

/*
3 rows from genres table:
GenreId	Name
1	Rock
2	Jazz
3	Metal
*/


CREATE TABLE invoice_items (
	"InvoiceLineId" INTEGER NOT NULL,
	"InvoiceId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	"Quantity" INTEGER NOT NULL,
	PRIMARY KEY ("InvoiceLineId"),
	FOREIGN KEY("TrackId") REFERENCES tracks ("TrackId"),
	FOREIGN KEY("InvoiceId") REFERENCES invoices ("InvoiceId")
)

/*
3 rows from invoice_items table:
InvoiceLineId	InvoiceId	TrackId	UnitPrice	Quantity
1	1	2	0.99	1
2	1	4	0.99	1
3	2	6	0.99	1
*/


CREATE TABLE invoices (
	"InvoiceId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"InvoiceDate" DATETIME NOT NULL,
	"BillingAddress" NVARCHAR(70),
	"BillingCity" NVARCHAR(40),
	"BillingState" NVARCHAR(40),
	"BillingCountry" NVARCHAR(40),
	"BillingPostalCode" NVARCHAR(10),
	"Total" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("InvoiceId"),
	FOREIGN KEY("CustomerId") REFERENCES customers ("CustomerId")
)

/*
3 rows from invoices table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2009-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2009-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
3	8	2009-01-03 00:00:00	Grétrystraat 63	Brussels	None	Belgium	1000	5.94
*/


CREATE TABLE media_types (
	"MediaTypeId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("MediaTypeId")
)

/*
3 rows from media_types table:
MediaTypeId	Name
1	MPEG audio file
2	Protected AAC audio file
3	Protected MPEG-4 video file
*/


CREATE TABLE playlist_track (
	"PlaylistId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	PRIMARY KEY ("PlaylistId", "TrackId"),
	FOREIGN KEY("TrackId") REFERENCES tracks ("TrackId"),
	FOREIGN KEY("PlaylistId") REFERENCES playlists ("PlaylistId")
)

/*
3 rows from playlist_track table:
PlaylistId	TrackId
1	3402
1	3389
1	3390
*/


CREATE TABLE playlists (
	"PlaylistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("PlaylistId")
)

/*
3 rows from playlists table:
PlaylistId	Name
1	Music
2	Movies
3	TV Shows
*/


CREATE TABLE tracks (
	"TrackId" INTEGER NOT NULL,
	"Name" NVARCHAR(200) NOT NULL,
	"AlbumId" INTEGER,
	"MediaTypeId" INTEGER NOT NULL,
	"GenreId" INTEGER,
	"Composer" NVARCHAR(220),
	"Milliseconds" INTEGER NOT NULL,
	"Bytes" INTEGER,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("TrackId"),
	FOREIGN KEY("MediaTypeId") REFERENCES media_types ("MediaTypeId"),
	FOREIGN KEY("GenreId") REFERENCES genres ("GenreId"),
	FOREIGN KEY("AlbumId") REFERENCES albums ("AlbumId")
)

/*
3 rows from tracks table:
TrackId	Name	AlbumId	MediaTypeId	GenreId	Composer	Milliseconds	Bytes	UnitPrice
1	For Those About To Rock (We Salute You)	1	1	1	Angus Young, Malcolm Young, Brian Johnson	343719	11170334	0.99
2	Balls to the Wall	2	2	1	None	342562	5510424	0.99
3	Fast As a Shark	3	2	1	F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman	230619	3990994	0.99
*/

Question: Find the most expensive track in the database


> Entering new SQL Agent Executor chain...
 Action: sql_db_list_tables
Action Input: ""albums, artists, customers, employees, genres, invoice_items, invoices, media_types, playlist_track, playlists, tracks I should now check the 'tracks' table schema to see if it contains the price information.
Action: sql_db_schema
Action Input: "tracks"
CREATE TABLE tracks (
	"TrackId" INTEGER NOT NULL,
	"Name" NVARCHAR(200) NOT NULL,
	"AlbumId" INTEGER,
	"MediaTypeId" INTEGER NOT NULL,
	"GenreId" INTEGER,
	"Composer" NVARCHAR(220),
	"Milliseconds" INTEGER NOT NULL,
	"Bytes" INTEGER,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("TrackId"),
	FOREIGN KEY("MediaTypeId") REFERENCES media_types ("MediaTypeId"),
	FOREIGN KEY("GenreId") REFERENCES genres ("GenreId"),
	FOREIGN KEY("AlbumId") REFERENCES albums ("AlbumId")
)

/*
3 rows from tracks table:
TrackId	Name	AlbumId	MediaTypeId	GenreId	Composer	Milliseconds	Bytes	UnitPrice
1	For Those About To Rock (We Salute You)	1	1	1	Angus Young, Malcolm Young, Brian Johnson	343719	11170334	0.99
2	Balls to the Wall	2	2	1	None	342562	5510424	0.99
3	Fast As a Shark	3	2	1	F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman	230619	3990994	0.99
*/ Now that I have the schema of the 'tracks' table, I can see that it contains a column named 'UnitPrice'. This column seems to contain the price information for each track. I will now construct a query to find the most expensive track in the database by ordering the results by the 'UnitPrice' column in descending order and limiting the results to 10.

Action: sql_db_query
Action Input: "SELECT * FROM tracks ORDER BY UnitPrice DESC LIMIT 10"[(2819, 'Battlestar Galactica: The Story So Far', 226, 3, 18, None, 2622250, 490750393, 1.99), (2820, 'Occupation / Precipice', 227, 3, 19, None, 5286953, 1054423946, 1.99), (2821, 'Exodus, Pt. 1', 227, 3, 19, None, 2621708, 475079441, 1.99), (2822, 'Exodus, Pt. 2', 227, 3, 19, None, 2618000, 466820021, 1.99), (2823, 'Collaborators', 227, 3, 19, None, 2626626, 483484911, 1.99), (2824, 'Torn', 227, 3, 19, None, 2631291, 495262585, 1.99), (2825, 'A Measure of Salvation', 227, 3, 18, None, 2563938, 489715554, 1.99), (2826, 'Hero', 227, 3, 18, None, 2713755, 506896959, 1.99), (2827, 'Unfinished Business', 227, 3, 18, None, 2622038, 528499160, 1.99), (2828, 'The Passage', 227, 3, 18, None, 2623875, 490375760, 1.99)] I now know the final answer
Final Answer: The most expensive track in the database is 'Hero' with a price of 1.99.

> Finished chain.
Answer: The most expensive track in the database is 'Hero' with a price of 1.99.

Question: Show the number of tracks available in each genre


> Entering new SQL Agent Executor chain...
 Action: sql_db_list_tables
Action Input: ""albums, artists, customers, employees, genres, invoice_items, invoices, media_types, playlist_track, playlists, tracks I should now query the schema of the 'genres' and 'tracks' tables to find out how many tracks are available in each genre.
Action: sql_db_schema
Action Input: "genres, tracks"
CREATE TABLE genres (
	"GenreId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("GenreId")
)

/*
3 rows from genres table:
GenreId	Name
1	Rock
2	Jazz
3	Metal
*/


CREATE TABLE tracks (
	"TrackId" INTEGER NOT NULL,
	"Name" NVARCHAR(200) NOT NULL,
	"AlbumId" INTEGER,
	"MediaTypeId" INTEGER NOT NULL,
	"GenreId" INTEGER,
	"Composer" NVARCHAR(220),
	"Milliseconds" INTEGER NOT NULL,
	"Bytes" INTEGER,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("TrackId"),
	FOREIGN KEY("MediaTypeId") REFERENCES media_types ("MediaTypeId"),
	FOREIGN KEY("GenreId") REFERENCES genres ("GenreId"),
	FOREIGN KEY("AlbumId") REFERENCES albums ("AlbumId")
)

/*
3 rows from tracks table:
TrackId	Name	AlbumId	MediaTypeId	GenreId	Composer	Milliseconds	Bytes	UnitPrice
1	For Those About To Rock (We Salute You)	1	1	1	Angus Young, Malcolm Young, Brian Johnson	343719	11170334	0.99
2	Balls to the Wall	2	2	1	None	342562	5510424	0.99
3	Fast As a Shark	3	2	1	F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman	230619	3990994	0.99
*/ I should now construct a SQL query to join the 'genres' and 'tracks' tables on the 'GenreId' field, group by the genre name, and count the number of tracks in each genre.

Action: sql_db_query_checker
Action Input: "SELECT genres.Name, COUNT(tracks.TrackId) as TrackCount FROM genres INNER JOIN tracks ON genres.GenreId = tracks.GenreId GROUP BY genres.Name" The given SQL query seems to be correctly written, taking into account the points you've mentioned. Here it is for reference:

```sql
SELECT genres.Name, COUNT(tracks.TrackId) as TrackCount
FROM genres
INNER JOIN tracks ON genres.GenreId = tracks.GenreId
GROUP BY genres.Name
```

There are no common mistakes in this query:
- It does not use NOT IN with NULL values, as it uses the standard INNER JOIN.
- It uses GROUP BY correctly and does not use UNION or UNION ALL.
- The BETWEEN operator is not used, but there's no need for it in this query.
- Identifiers are properly quoted using double quotes (`"genres"` and `"tracks"`).
- The number of arguments for functions is correct, as there are none in this query.
- There's no data type mismatch in predicates since the types match between the joined tables.
- The proper columns are used for the join (`genres.GenreId` and `tracks.GenreId`).
- No casting is required, as the data types involved are compatible. I will now execute the SQL query to get the number of tracks available in each genre.

Action: sql_db_query
Action Input: "SELECT genres.Name, COUNT(tracks.TrackId) as TrackCount FROM genres INNER JOIN tracks ON genres.GenreId = tracks.GenreId GROUP BY genres.Name"[('Alternative', 40), ('Alternative & Punk', 332), ('Blues', 81), ('Bossa Nova', 15), ('Classical', 74), ('Comedy', 17), ('Drama', 64), ('Easy Listening', 24), ('Electronica/Dance', 30), ('Heavy Metal', 28), ('Hip Hop/Rap', 35), ('Jazz', 130), ('Latin', 579), ('Metal', 374), ('Opera', 1), ('Pop', 48), ('R&B/Soul', 61), ('Reggae', 58), ('Rock', 1297), ('Rock And Roll', 12), ('Sci Fi & Fantasy', 26), ('Science Fiction', 13), ('Soundtrack', 43), ('TV Shows', 93), ('World', 28)] I now know the final answer.
Final Answer: The number of tracks available in each genre are as follows: Rock (1297), Jazz (130), Metal (374), Pop (48), Hip Hop/Rap (35), R&B/Soul (61), Reggae (58), Classical (74), Electronica/Dance (30), Blues (81), Latin (579), Opera (1), Alternative (40), Alternative & Punk (332), Heavy Metal (28), Sci Fi & Fantasy (26), Science Fiction (13), Soundtrack (43), TV Shows (93), World (28).

> Finished chain.
Answer: The number of tracks available in each genre are as follows: Rock (1297), Jazz (130), Metal (374), Pop (48), Hip Hop/Rap (35), R&B/Soul (61), Reggae (58), Classical (74), Electronica/Dance (30), Blues (81), Latin (579), Opera (1), Alternative (40), Alternative & Punk (332), Heavy Metal (28), Sci Fi & Fantasy (26), Science Fiction (13), Soundtrack (43), TV Shows (93), World (28).